In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../raw_data/remoteok_jobs_clean.csv")

In [3]:
df.head()

,id,date,company,position,tags,location,salary_min,salary_max,url
0,1093611,2025-07-12T06:08:36+00:00,The Singleton Group,Work from Home Customer Service Representative,"['admin', 'customer support', 'data entry', 'C...",NaN,80000,90000,https://remoteOK.com/remote-jobs/remote-work-f...
1,1093607,2025-07-11T14:43:16+00:00,lobstr.io,Backend Developer @ lobstr.io Python Scraping ...,"['dev', 'python', 'backend', 'redis', 'remote'...",NaN,30000,40000,https://remoteOK.com/remote-jobs/remote-backen...
2,1093606,2025-07-11T11:00:03+00:00,Caiz,Chief Executive Officer Crypto Blockchain,"['crypto', 'cryptocurrency', 'system', 'securi...",NaN,50000,100000,https://remoteOK.com/remote-jobs/remote-chief-...
3,1093598,2025-07-10T15:00:10+00:00,Yassir,Senior Mobile iOS Engineer,"['ios', 'design', 'redis', 'frontend', 'back-e...",NaN,60000,120000,https://remoteOK.com/remote-jobs/remote-senior...
4,1093596,2025-07-10T13:00:03+00:00,Anchorage Digital,Member of Technical Staff Transparency,"['design', 'crypto', 'front-end', 'back-end', ...",United States,60000,115000,https://remoteOK.com/remote-jobs/remote-member...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          99 non-null     int64
 1   date        99 non-null     object
 2   company     97 non-null     object
 3   position    97 non-null     object
 4   tags        99 non-null     object
 5   location    32 non-null     object
 6   salary_min  99 non-null     int64
 7   salary_max  99 non-null     int64
 8   url         99 non-null     object
dtypes: int64(3), object(6)
memory usage: 7.1+ KB

In [5]:
df.isnull().sum()

id             0
date           0
company        2
position       2
tags           0
location      67
salary_min     0
salary_max     0
url            0
dtype: int64

In [6]:
df["location"] = df["location"].fillna("Worldwide")

In [7]:
df["company"] = df["company"].str.strip().str.title()
df["position"] = df["position"].str.strip().str.title()
df["location"] = df["location"].str.strip().str.title()
df["tags"] = df["tags"].str.strip().str.lower()

In [8]:
df["date"].head()

0    2025-07-12T06:08:36+00:00
1    2025-07-11T14:43:16+00:00
2    2025-07-11T11:00:03+00:00
3    2025-07-10T15:00:10+00:00
4    2025-07-10T13:00:03+00:00
Name: date, dtype: object

In [9]:
df["date"] = pd.to_datetime(df["date"], errors="coerce")

In [10]:
df["date"].head()

0   2025-07-12 06:08:36+00:00
1   2025-07-11 14:43:16+00:00
2   2025-07-11 11:00:03+00:00
3   2025-07-10 15:00:10+00:00
4   2025-07-10 13:00:03+00:00
Name: date, dtype: datetime64[ns, UTC]

In [11]:
df.to_csv("../data/remoteok_jobs_final.csv", index=False)

Saved cleaned data to data/remoteok_jobs_final.csv